#main {
    position: relative;

}

h1 {
    color: #d3573c;
    font-size: 50px;
}

h3 {
    color: #901C1C;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 10%;
    padding: 5%;
    margin-bottom: 30px;


}

.photograph-header article {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer-image {
    height: 200px;
    border-radius: 50%;
    width: 200px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
}

.container-sort {
    display: flex;
    width: auto;
    font-weight: bold;
    align-items: center;
}

.section-sort {
    margin-left: 10%;
    margin-bottom: 20px;
}

.select-sort {
    margin-left: 20px;

}

.select-sort :hover {
    cursor: pointer;
}

#sort {
    background-color: #901C1C;
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    width: 125px;
    height: 35px;
    border-radius: 5px;

}

#sort option {
    height: 35px;
    border-bottom: 2px solid white;
}


/* css des images  */

.medias_section {
    margin-top: 100px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}


.medias_section article {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 5px 25px;

}

.media-image {
    width: 100%;
    height: 300px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin: 5%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

.modal-textarea {
    resize: none;
    width: 100%;
}


.infos-photographer-bottom {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #d3573c;
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.infos-photographer-bottom p {
    margin: 0 !important;
}

.total-like-section {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.total-like-section .fa-heart {
    margin-left: 5px;
    color: black;
}

.like-unlike {
    text-transform: none;
}

.fa-heart {
    height: 20px;
    color: #901C1C;
    margin-left: 5px;
}

.heartFull {
    display: none;
}

.infos-media {
    justify-content: space-between;
    display: flex;

}

.infos-media div {
    display: flex;
    align-items: center;
}

.nbLike {
    color: #901C1C;

}

/* lightbox */
.lightBox,
#contact_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.lightBox.open {
    display: block;
}

.lightBox .content {
    position: absolute;
    width: 80%;
    height: 80%;
    background: #ffffff;
    border-radius: 3px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
}

.lightBox .close {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;

}

.lightBox-image {
    display: none;
}

.lightBox-image.show {
    display: block;
}

.lightBox .content-media {
    height: 100%;
    display: flex;
    justify-content: center;
}

.media-lightBox {
    height: 90%;
    max-width: 90%;
}

.leftArrow,
.rightArrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    color: #901C1C;
}

.fa-angle-left,
.fa-angle-right {
    height: 42px;
    width: 42px;
}

.leftArrow {
    left: 40px;
}

.rightArrow {
    right: 40px;
}

@media only screen and (max-width: 600px) {
    .medias_section {
        flex-direction: column;
        margin: 0px;
    }

    .medias_section article {
        width: 70%;

    }

    .media-image {
        height: 420px;
    }


}

@media only screen and (max-width: 992px) and (min-width : 600px) {

    .photograph-header article {
        flex-direction: column-reverse;
    }

    .medias_section article {
        width: 40%;

    }

}